/* ==========================================
   View Transition
========================================== */

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: fade-out .18s ease;
}

::view-transition-new(root) {
    animation: slide-up .35s ease;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(18px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}